{% load static %}
{% load i18n %}

<div class="footer-area-wrapper reveal-footer bg-gray">
    <div class="footer-copyright-area section-space--pb_30">
        <div class="container">
            <div style="margin-top: 5px; margin-bottom: -17px;" class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <span class="copyright-text">&copy; 2022 ORIGIN DIGITAL. <a href="https://hasthemes.com/">{% trans 'Barcha huquqlar himoyalangan.' %}</a></span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list ht-social-networks solid-rounded-icon">

                        <li class="item">
                            <a href="https://instagram.com/zikirillo_ozodjonov/" target="_blank"
                               class="social-link hint--bounce hint--primary">
                                <i class="fab fa-instagram link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="https://t.me/zikirillo_ozodjonov/" target="_blank"
                               class="social-link hint--bounce hint--primary">
                                <i class="fab fa-telegram link-icon"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a href="tel://+998941600021" target="_blank"
                               class="social-link hint--bounce hint--primary">
                                <i class="fa fa-phone link-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>