{% load static %}
{% load i18n %}

<div class="site-wrapper-reveal">
    <!--===========  feature-images-wrapper  Start =============-->
    <div class="feature-images-wrapper section-space--ptb_100">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <!-- section-title-wrap Start -->
                    <div class="section-title-wrap text-center">
                        <h3 class="heading">{% trans 'Nega aynan biz?' %} <br> {% trans 'Nega ko`pchilik odamlar bizni tanlashadi?' %} <br/><span
                                class="text-color-primary"> {% trans 'Afzalliklarimiz' %}</span></h3>
                    </div>
                    <!-- section-title-wrap Start -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="feature-images__one">
                        <div class="row">

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-01-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Moslashuvchan' %} </h5>
                                            <div class="text">{% trans 'Biz yaratgan veb saytlar moslashuvchan bo’ladi. Ya’ni planshet va mobil versiya ega. Buning uchun aloxida to’lov qilinmaydi.' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-02-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Adminka' %}</h5>
                                            <div class="text">{% trans 'Veb saytingiz qulay va sodda admin panelga ega bo’ladi bu esa o’z o’rnida sizga, saytga kirib boshqarishingizga imkon beradi.' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-03-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Ximoya' %}</h5>
                                            <div class="text">{% trans 'Bizning veb saytlar zamonaviy antivirus va fayrvollar bilan himoyalangan bo’lib, spambot va hujumlarga bardosh bera oladi.' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-04-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Monitoring 24/7' %}</h5>
                                            <div class="text">{% trans 'Veb saytingizni uzluksiz ishlab turishi uchun, 24 soat davomida onlayn avtomatik tarzda kuzatib turiladi.' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-05-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Domen va xosting' %}</h5>
                                            <div class="text">{% trans 'Domen va hosting yugur-yugur, bosh og’riqlarini unuting. Bizda domen UZ va hosting 6 oyga bepul (keyin $10/oyiga)' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>

                            <div class="col-lg-4 col-md-6 wow move-up">
                                <!-- ht-box-icon Start -->
                                <div class="ht-box-images style-01">
                                    <div class="image-box-wrap">
                                        <div class="box-image">
                                            <img class="img-fulid"
                                                 src="{% static 'assets/images/icons/mitech-box-image-style-01-image-06-100x108.webp' %}"
                                                 alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="heading">{% trans 'Noyob' %}</h5>
                                            <div class="text">{% trans 'Xar bir yaratgan saytimizni dizayni noyob bo’ladi va boshqa saytlardan ajralib turadi. Bitta dizayn — bitta sayt!' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ht-box-icon End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>